# Ontology / NLP extras. Equivalent to:
#     pip install -e .[ontology]
#
# OntologyExtender is currently distributed via GitHub:
#     pip install git+https://github.com/DataScienceLabFHSWF/OntologyExtender.git
-e .[ontology]